.imagewidth{
    width: 300px;
}

.title-card{
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}
.price{
    font-size: 16px;
    margin: 0;
}
.images{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    width: auto;
    gap: 16px;
    height: 450px;
}
.Container-for-images{
    z-index: 1;
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 300px;
    row-gap: 20px;
}
.button-in-card{
    width: 150px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #FCF8F3;
    border: 1px solid #ead4ba;
    border-radius: 20px;
    padding: 5px 0;
    cursor: pointer;
    transition: all, 0.1s;
}
.images{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    width: auto;
    gap: 16px;
    height: 450px;
}
.Container-for-cards{

    width: 100%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.delete-Button:hover{
    background-color: #b6b4b1;
}


.delete-Button:active{
    background-color: #ffffff;
}