main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.Reg-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color:#FCF8F3;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0 0  rgb(224, 224, 224) ;
}

.registration{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px 0;
}

input{
    margin: 0;
}
.MuiStack-root{
    margin: 10px 0;
}